/******************************
 * Barra de navegação Vertical
 ******************************/
ul{
    list-style-type: none; /* Ele tira o estilo de ponto antes da palavra */
    margin: 0;
    padding: 0;
}

ul a{
    display: block; /*Deixar o display em blcok */ /*Display em inline tem o tamanho do conteúdo
                                                     já em block você pode especificar um tamanho*/
    color: black;
    text-decoration: none;
    text-indent: 40px; /* Para dar espaço para direita */
    line-height: 40px; /* Para centralizar a linha do texto, sendo que altura seja a mesma
                        da altura da imagem de fundo*/
    width: 200px;
    height: 40px; /*Altura*/
    background: #f7b600 url(../img/menu.png); /* Adicione antes uma cor antes do url, para qque se caso a
    imagem não abrir, ele irar usar a cor*/
}

a:hover{
    background-position: right bottom;
    background-color: #f99200; /*Aqui caso a imagem não carregue*/
    color: white;
}

/*Ao selecionar será marcado*/
/*Pode ser que exista varios menu, é indicado colocar um id na ul*/
#home #navegacao .home a,
#sobre #navegacao .sobre a,
#servicos #navegacao .servicos a,
#noticias #navegacao .noticias a,
#contato #navegacao  .contato a{
    background-position: right bottom;
    background-color: #f99200; /*Aqui caso a imagem não carregue*/
    color: white;
}
